name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          github_user_name: ravi2248
          outputs: |
            # This generates a "Dark Mode" snake with Neon Purple/Pink dots to match your header
            dist/github-contribution-grid-snake.svg?palette=github-dark&color_snake=#00E5FF&color_dots=#161B22,#2A0F3D,#581C87,#7928CA,#FF0080

      - name: Push to GitHub Pages
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
